.app__row {
  width: 100%;
  border-bottom: 1px solid var(--background-800);
}

.app__row__content {
  display: flex;
  gap: var(--spacer-medium);
  width: 80vw;
  max-width: 800px;
  margin: auto;
}

.logo {
  height: 30px;
  will-change: filter;
  margin: var(--spacer-medium) 0;
}
