.app__row {
  display: flex;
  gap: var(--spacer-medium);
  border-bottom: 1px solid var(--background-800);
}

.logo {
  height: 30px;
  will-change: filter;
  margin: var(--spacer-medium) 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
